<footer class="fullwidth">
  <section class="columns">
    <nav class="column">
      <ul>
        <li><a href="/readme">Readme</a></li>
        <li><a href="/stack">Stack</a></li>
        <li><a href="/bookmarks">Bookmarks</a></li>
      </ul>
    </nav>
    <address class="column">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/simonhaefliger/">LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/bohemianoid">GitHub</a>
        </li>
        <li>
          <a href="https://unsplash.com/@simonhaefliger">Unsplash</a>
        </li>
      </ul>
    </address>
  </section>
  <section class="credits">
    Made by <a href="/">Simon Häfliger</a> with
    <a href="https://vitejs.dev">Vite</a>,
    <a href="https://edwardtufte.github.io/tufte-css/">Tufte CSS</a> and 🍬 in
    Lucerne
  </section>
</footer>
